*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

/* Logo */

.logo img{
    width: 150px;
    height: auto;
    cursor: pointer;
}

/* Navigation Menu */

ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

/* Links */

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

ul li a:hover{
    color: #ff1e00;
}

/* Icons */

.fa-cart-shopping,
.fa-user{
    font-size: 18px;
}

.fa-cart-shopping:hover
{
    color: #ff0000;
}

#login-button{
    background-color: red;
    color:white;
    border-radius: 5px;
    padding: 4px 10px;
}

/* Hero section */
.hero-section{
    height: 90vh;
    background-image: url(./images/barger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-content{
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

#btn-order-now {
    background-color: red;
    border-radius: 5px;
    padding: 6px;
    color: white;
    margin-top: 10px;
}


/* Login & SignUp */

.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg, black, rgba(99, 99,99, 0.872));
    height: 100vh;
}

.auth-box{
    background: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(114, 113, 113, 0.849);
}

.auth-box h2{
    margin-bottom: 20px;
    color: black;
}

.auth-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.auth-box input:focus{
    border-color: red;
}

.auth-box button{
    width: 100%;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-box button:hover{
    background-color: rgb(123, 83, 73);
}

.auth-box p{
    margin-top: 15px;
    font-size: 12px;
}

.auth-box a{
    color: red;
    text-decoration: none;

}



/* Footer Css */
footer ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li{
    margin-bottom: 10px;
}

footer{
    background: #000;
    color: white;
    padding: 10px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-box h2,
.footer-box h3{
    color: white;
    margin-bottom: 15px;
}

.footer-box span{
    color: red;
}

.footer-box p{
    line-height: 1.6;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: red;
}

.social-icons a{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: #ccc;
    background: #222;
    padding: 10px;
    border-radius: 50%;
}

.social-icon a:hover{
    background: red;
    color: aliceblue;
}

.footer-bottom{
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
}